.blog-items-card {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;

  .blog-items-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .blog-items-title {
    color: aquamarine;
  }
}
