.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;

    .paragraph {
        padding: 20px;
        text-align: left;
    }
}