.contact {
    width: 100%;
    display: flex;
    flex-direction: column;

    form {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-self: center;

        
        .custom-button {
            width: 35vw;
        }
    }
}