body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url('./assets/computer.jpg');
    background-size: cover;
    height: 100vh;
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}  

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
}

p {
    font-size: 20px;
}
    
* {
    box-sizing: border-box;
    color: white;
    text-shadow: 2px 2px 3px black;
}

    


